/* Boliar Plate Code */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html , body {
    height: 100%;
    width: 100%;
}

:root {
    /* BG Color */
    --bg-primary-color : #0d0b0f;

    /* text color */
    --text-primary-color : #f4efef;

    /* Padding */
    --space-xs : 4px;
    --space-sm : 8px;
    --space-md : 16px;
    --space-lg : 24px;
    --space-xl : 32px;
    --space-2xl : 40px;
    --space-3xl : 48px;

    /* Border Color */
    --border-primary-color : #363535;

    /* Border Radius */
    --border-radius-xs : 4px;
    --border-radius-sm : 8px;
    --border-radius-md : 12px;
    --border-radius-lg : 16px;
    --border-radius-xl : 20px;
    --border-radius-2xl : 24px;



}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main {
    width: 100%;
    height: 100%;
}

section {
    padding: var(--space-2xl) ;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-lg);
} 

section, .info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.data {
    padding: var(--space-sm) var(--space-md);
    border: 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

/* playgorund */
.playground{
    border: 2px solid var(--border-primary-color);
    flex-grow: 1;
    min-height: 400px;
    width: 100%;
}

.block {
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-primary-color);
}